.top-bar 
	h1 
		color: #fff
		margin: 0 20px!important
		small 
			margin: 0 0 0 15px

h1, h2, h3, h4, h5, h6, p 
	font-family: "proxima-nova"

h2 
	font-weight: bold
	border-bottom: 1px solid #e2e2e2
	padding-bottom: 15px
	margin-bottom: 40px

.content 
	padding-top: 100px

.current
	position: fixed
	top: 0
	left: 0
	width: auto
	z-index: 99
	padding: 10px 
	color: red
	font-size: 2em
	height: 60px


.reference 
	img 
		position: relative
		top: 50%
		transform: translateY(-50%)

.result 
	max-width: 100%

.imageContainer 
	display: block
	margin: 0 auto

.godfather-poster 
	//background: #000
	padding-top: 20px
	width: 54%
	
	border: 4px solid #fff

.godfather-text 
	position: absolute!important
	display: none
	right: 40px
	top: 110px!important

.exorcist-title 
	background-color: #dadada
	width: 100%
	position: relative
	top: -10px