/* line 2, ../scss/style.sass */
.top-bar h1 {
  color: white;
  margin: 0 20px !important;
}
/* line 5, ../scss/style.sass */
.top-bar h1 small {
  margin: 0 0 0 15px;
}

/* line 8, ../scss/style.sass */
h1, h2, h3, h4, h5, h6, p {
  font-family: "proxima-nova";
}

/* line 11, ../scss/style.sass */
h2 {
  font-weight: bold;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 15px;
  margin-bottom: 40px;
}

/* line 17, ../scss/style.sass */
.content {
  padding-top: 100px;
}

/* line 20, ../scss/style.sass */
.current {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  z-index: 99;
  padding: 10px;
  color: red;
  font-size: 2em;
  height: 60px;
}

/* line 33, ../scss/style.sass */
.reference img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 38, ../scss/style.sass */
.result {
  max-width: 100%;
}

/* line 41, ../scss/style.sass */
.imageContainer {
  display: block;
  margin: 0 auto;
}

/* line 45, ../scss/style.sass */
.godfather-poster {
  padding-top: 20px;
  width: 54%;
  border: 4px solid white;
}

/* line 52, ../scss/style.sass */
.godfather-text {
  position: absolute !important;
  display: none;
  right: 40px;
  top: 110px !important;
}

/* line 58, ../scss/style.sass */
.exorcist-title {
  background-color: #dadada;
  width: 100%;
  position: relative;
  top: -10px;
}
